.checkable-sm {
  font-size: 13px;
}
label.nya-checkbox,
.nya-checkbox label {
  padding-left: 0;
}
.nya-checkbox__input {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
.nya-checkbox__flag {
  background: #000000;
  border: 1px solid #3a3f44;
  border-radius: 3px;
  display: inline-block;
  height: 15px;
  margin: -3px 6px 0 0;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  width: 15px;
}
.checkable-sm .nya-checkbox__flag {
  height: 13px;
  width: 13px;
}
.nya-checkbox__flag > .nya-checkbox__flag-icon {
  position: absolute;
  border-bottom: 2px solid;
  border-right: 2px solid;
  color: #ffffff;
  height: 18px;
  left: 5px;
  top: -9px;
  -webkit-transform: scale(0.9) rotate(47deg) skewX(15deg);
      -ms-transform: scale(0.9) rotate(47deg) skewX(15deg);
          transform: scale(0.9) rotate(47deg) skewX(15deg);
  width: 8px;
}
.nya-checkbox__flag-icon {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity .2s ease;
          transition: opacity .2s ease;
}
.nya-checkbox__input:checked + .nya-checkbox__flag > .nya-checkbox__flag-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.nya-checkbox__input:checked + .nya-checkbox__flag,
.nya-checkbox__input:checked + .nya-checkbox__flag:hover {
  background: #52575c;
  border: 1px solid #7a8288;
}
.nya-checkbox__input:focus + .nya-checkbox__flag {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
  outline: 0;
}
.nya-checkbox.disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
  pointer-events: none;
}
.nya-checkbox.disabled .nya-checkbox__flag {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.checkable-sm .nya-checkbox__flag-icon {
  height: 16px;
  left: 4px;
  top: -8px;
  width: 7px;
}
