.nya-checkbox__flag {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.2em;
  background: 50% no-repeat;
}
.nya-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
}
.nya-checkbox__input {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px) !important;
}
.nya-checkbox__flag {
  font-size: 15px;
  line-height: 22px;
  font-family: Arial, sans-serif;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #000;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07);
  width: 1em;
  height: 1em;
  padding: 0 1px 1px 0;
  line-height: 1em;
  background: rgba(0,0,0,0.3);
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  text-align: center;
  margin-right: 6px;
}
.nya-checkbox__flag:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 2px;
}
.nya-checkbox__flag .button-content {
  position: relative;
  display: block;
}
.nya-checkbox__flag:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .nya-checkbox__flag,
.nya-checkbox__flag:focus {
  outline: 0;
}
input[type=file]:focus + .nya-checkbox__flag:after,
.nya-checkbox__flag:focus:after {
  z-index: 9;
  box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), inset 0 0 0 1px rgba(193,154,0,0.2);
  border-radius: inherit;
}
.nya-checkbox__flag:before {
  background: #f7f7f7;
  background: -webkit-linear-gradient(#fff, #eee);
  background: linear-gradient(#fff, #eee);
}
.nya-checkbox__flag > .nya-checkbox__flag-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -13px 0 0 -2px;
  width: 5px;
  height: 13px;
  border-bottom: 3px solid;
  border-right: 3px solid;
  color: #000;
  -webkit-transform: scale(0.9) rotate(50deg) skewX(12deg);
      -ms-transform: scale(0.9) rotate(50deg) skewX(12deg);
          transform: scale(0.9) rotate(50deg) skewX(12deg);
}
input:not(:checked) + .nya-checkbox__flag > .nya-checkbox__flag-icon {
  visibility: hidden;
}
.nya-checkbox__input:checked + .nya-checkbox__flag,
.nya-checkbox__input:checked + .nya-checkbox__flag:hover {
  background: rgba(255,236,166,0.4);
  box-shadow: 0 1px 7px rgba(30,23,0,0.8) inset, 0 2px 0 -1px rgba(255,255,255,0.2);
}
.nya-checkbox__input:checked + .nya-checkbox__flag:before,
.nya-checkbox__input:checked + .nya-checkbox__flag:hover:before {
  background: #fff1be;
  background: -webkit-linear-gradient(#ffeca6, #fff6d5);
  background: linear-gradient(#ffeca6, #fff6d5);
  box-shadow: 0 1px 3px -1px rgba(0,0,0,0.45) inset;
}
.nya-checkbox__input:checked + .nya-checkbox__flag .button-content,
.nya-checkbox__input:checked + .nya-checkbox__flag:hover .button-content {
  top: 1px;
}
.nya-checkbox-input:focus + .nya-checkbox__flag {
  outline: 0;
}
.nya-checkbox-input:focus + .nya-checkbox__flag:after {
  z-index: 9;
  box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), inset 0 0 0 1px rgba(193,154,0,0.2);
  border-radius: inherit;
}
.nya-checkbox_size_s,
.nya-checkbox_size_s .nya-checkbox__flag {
  font-size: 13px;
  line-height: 18px;
}
.nya-checkbox_disabled {
  cursor: default !important;
  opacity: 0.6;
  pointer-events: none;
}
.nya-checkbox_disabled .nya-checkbox_disabled {
  opacity: 1;
}
