.nya-input_reset_no,
.nya-input .nya-input__controller {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font: inherit;
}
.nya-input_reset_no:focus,
.nya-input .nya-input__controller:focus {
  outline: none;
}
.nya-input .nya-input__reset {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.2em;
  background: 50% no-repeat;
}
.nya-input .nya-input__reset {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDEuMjA5Yy0zLjc1MSAwLTYuNzkxIDMuMDQtNi43OTEgNi43OTEgMCAzLjc0OSAzLjA0IDYuNzg5IDYuNzkxIDYuNzg5IDMuNzQ5IDAgNi43ODktMy4wNCA2Ljc4OS02Ljc4OSAwLTMuNzUxLTMuMDQtNi43OTEtNi43ODktNi43OTF6bTMuOTkgOS4zNTVsLTEuNDI2IDEuNDI2LTIuNTY0LTIuNTY0LTIuNTY0IDIuNTY0LTEuNDI2LTEuNDI2IDIuNTY0LTIuNTY0LTIuNTY0LTIuNTY0IDEuNDI2LTEuNDI2IDIuNTY0IDIuNTY0IDIuNTY0LTIuNTY0IDEuNDI2IDEuNDI2LTIuNTY0IDIuNTY0IDIuNTY0IDIuNTY0eiIvPjwvc3ZnPg==");
}
.nya-input .nya-input__reset {
  cursor: pointer;
  opacity: 0.2;
}
.nya-input .nya-input__reset:hover {
  opacity: 1;
}
.nya-input_reset_no {
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  padding: 5px 10px;
  line-height: 20px;
  min-height: 32px;
  font-size: 15px;
  border-color: rgba(0,0,0,0.27);
  border-top-color: rgba(0,0,0,0.38);
  border-bottom-color: rgba(0,0,0,0.16);
  background: #fff;
/* ie fallback */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -webkit-linear-gradient(#fff, #fff);
  background: linear-gradient(#fff, #fff);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-background-size: 16px 16px;
          background-size: 16px 16px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
          box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-appearance: none;
/* override for <input type="search"> */
}
.nya-input_reset_no,
.nya-input_reset_yes,
.nya-input .nya-input__controller {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  cursor: text;
  vertical-align: baseline;
}
.nya-input_reset_no:focus {
  outline: none;
  border-color: rgba(94,76,2,0.42);
  border-top-color: rgba(78,62,2,0.515);
  border-bottom-color: rgba(117,93,0,0.335);
  -webkit-box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
          box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
}
.nya-input_reset_no:focus {
  z-index: 9;
}
.nya-input_reset_no:focus,
.nya-input__controller:focus + .nya-input__view {
  outline: none;
  border-color: rgba(94,76,2,0.42);
  border-top-color: rgba(78,62,2,0.515);
  border-bottom-color: rgba(117,93,0,0.335);
  -webkit-box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
          box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
}
.nya-input_size_s {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  padding: 5px 10px;
  line-height: 16px;
  min-height: 28px;
  font-size: 13px;
  border-color: rgba(0,0,0,0.27);
  border-top-color: rgba(0,0,0,0.38);
  border-bottom-color: rgba(0,0,0,0.16);
  background: #fff;
/* ie fallback */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -webkit-linear-gradient(#fff, #fff);
  background: linear-gradient(#fff, #fff);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-background-size: 16px 16px;
          background-size: 16px 16px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
          box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-appearance: none;
/* override for <input type="search"> */
}
.nya-input_size_s:focus {
  outline: none;
  border-color: rgba(94,76,2,0.42);
  border-top-color: rgba(78,62,2,0.515);
  border-bottom-color: rgba(117,93,0,0.335);
  -webkit-box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
          box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
}
.nya-input_size_s:focus {
  z-index: 9;
}
.nya-input_reset_yes {
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  padding: 5px 10px;
  line-height: 20px;
  min-height: 32px;
  font-size: 15px;
}
.nya-input_reset_yes-content,
.nya-input .nya-input__content {
  position: static;
  display: block;
  overflow: hidden;
  height: 100%;
}
.nya-input_reset_yes-left {
  margin: -10px 0 -10px -10px;
  padding: 10px 10px 10px 10px;
}
.nya-input_reset_yes-left {
  position: relative;
  z-index: 9;
  float: left;
}
.nya-input_reset_yes-right {
  margin: -10px -10px -10px 0;
  padding: 10px 10px 10px 10px;
}
.nya-input_reset_yes-right,
.nya-input .nya-input__reset {
  position: relative;
  z-index: 9;
  float: right;
}
.nya-input_reset_yes.nya-input_size_s {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  padding: 5px 10px;
  line-height: 16px;
  min-height: 28px;
  font-size: 13px;
}
.nya-input .nya-input__controller {
  width: 400px;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.nya-input textarea.nya-input__controller {
  vertical-align: top;
  resize: none;
}
.nya-input .nya-input__view {
  border: 1px solid transparent;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-color: rgba(0,0,0,0.27);
  border-top-color: rgba(0,0,0,0.38);
  border-bottom-color: rgba(0,0,0,0.16);
  background: #fff;
/* ie fallback */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -webkit-linear-gradient(#fff, #fff);
  background: linear-gradient(#fff, #fff);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-background-size: 16px 16px;
          background-size: 16px 16px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
          box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-appearance: none;
/* override for <input type="search"> */
}
.nya-input .nya-input__reset {
  margin: -5px -5px -5px 0;
  padding: 5px 5px 5px 5px;
  margin-right: -10px;
  height: auto;
}
.nya-input .nya-input__reset:before {
  content: " ";
}
.nya-input__controller::-ms-clear {
  display: none;
}
.nya-input_disabled {
  cursor: default !important;
  opacity: 0.6;
  pointer-events: none;
}
.nya-input_disabled .nya-input_disabled {
  opacity: 1;
}
