label {
  font-weight: normal;
}
.control-label {
  font-size: 13px;
}
.form-horizontal .control-label {
  padding-top: 9px;
  text-align: left;
}
.nya-input_reset {
  position: relative;
}
.nya-input_reset .nya-input__input {
  padding-right: 25px;
  resize: none;
}
.nya-input_reset .nya-input__input::-ms-clear {
  display: none;
}
.nya-input_reset .close {
  color: #333333;
  position: absolute;
  right: 6px;
  top: 4px;
}
