@import '../nya'

$skin-islands-button-content = '.nya-button__title'

.nya-button
  kind: button


.nya-button_size_m
  skin: button


.nya-button_size_s
  skin: button small


.nya-button_theme_action
  skin: action-button


.nya-button_theme_action.nya-button_size_s
  skin: action-button small


.nya-button[disabled]
  kind: disabled 0.6
