.nya-nav {
  display: inline-block;
  font-size: 15px;
  height: 36px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.nya-nav__item {
  display: inline-block;
  padding-right: 20px;
}
.nya-nav__link {
  border-top: 3px solid transparent;
  display: inline-block;
  transition: border-color 0.3s ease, color 0.3s ease;
}
.nya-nav__link:hover {
  border-color: #ffffff;
  color: #ffffff;
  text-decoration: none;
}
.nya-nav__link:focus {
  box-shadow: none;
}
.nya-nav__item_current .nya-nav__link {
  border-color: #c8c8c8;
  color: #c8c8c8;
}
