.nya-radio__flag {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.2em;
  background: 50% no-repeat;
}
.nya-radio {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
}
.nya-radio__input {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px) !important;
}
.nya-radio__flag {
  font-size: 15px;
  line-height: 22px;
  font-family: Arial, sans-serif;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #000;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.07);
          box-shadow: 0 1px 0 rgba(0,0,0,0.07);
  width: 1em;
  height: 1em;
  padding: 0 1px 1px 0;
  line-height: 1em;
  background: rgba(0,0,0,0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0.4)));
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  text-align: center;
  border-radius: 50%;
  margin-right: 6px;
}
.nya-radio__flag:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 2px;
}
.nya-radio__flag .button-content {
  position: relative;
  display: block;
}
.nya-radio__flag:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .nya-radio__flag,
.nya-radio__flag:focus {
  outline: 0;
}
input[type=file]:focus + .nya-radio__flag:after,
.nya-radio__flag:focus:after {
  z-index: 9;
  -webkit-box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), inset 0 0 0 1px rgba(193,154,0,0.2);
          box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), inset 0 0 0 1px rgba(193,154,0,0.2);
  border-radius: inherit;
}
.nya-radio__flag:before {
  background: #f7f7f7;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background: -webkit-linear-gradient(#fff, #eee);
  background: linear-gradient(#fff, #eee);
}
.nya-radio__flag:before {
  border-radius: 50%;
}
.nya-radio__flag > .nya-radio__flag-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin: -3px;
  background: #000;
  border-radius: 50%;
}
input:not(:checked) + .nya-radio__flag > .nya-radio__flag-icon {
  visibility: hidden;
}
.nya-radio__input:checked + .nya-radio__flag,
.nya-radio__input:checked + .nya-radio__flag:hover {
  background: rgba(255,236,166,0.4);
  -webkit-box-shadow: 0 1px 7px rgba(30,23,0,0.8) inset, 0 2px 0 -1px rgba(255,255,255,0.2);
          box-shadow: 0 1px 7px rgba(30,23,0,0.8) inset, 0 2px 0 -1px rgba(255,255,255,0.2);
}
.nya-radio__input:checked + .nya-radio__flag:before,
.nya-radio__input:checked + .nya-radio__flag:hover:before {
  background: #fff1be;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffeca6), to(#fff6d5));
  background: -webkit-linear-gradient(#ffeca6, #fff6d5);
  background: linear-gradient(#ffeca6, #fff6d5);
  -webkit-box-shadow: 0 1px 3px -1px rgba(0,0,0,0.45) inset;
          box-shadow: 0 1px 3px -1px rgba(0,0,0,0.45) inset;
}
.nya-radio__input:checked + .nya-radio__flag .button-content,
.nya-radio__input:checked + .nya-radio__flag:hover .button-content {
  top: 1px;
}
.nya-radio-input:focus + .nya-radio__flag {
  outline: 0;
}
.nya-radio-input:focus + .nya-radio__flag:after {
  z-index: 9;
  -webkit-box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), inset 0 0 0 1px rgba(193,154,0,0.2);
          box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), inset 0 0 0 1px rgba(193,154,0,0.2);
  border-radius: inherit;
}
.nya-radio_size_s,
.nya-radio_size_s .nya-radio__flag {
  font-size: 13px;
  line-height: 18px;
}
.nya-radio_disabled {
  cursor: default !important;
  opacity: 0.6;
  pointer-events: none;
}
.nya-radio_disabled .nya-radio_disabled {
  opacity: 1;
}
