@nya-head-height: 50px;
@_nya-head-arrow: 500px;

.nya-head {
  background: @nya-head-background;

  border-bottom: 1px solid @nya-head-border;

  height: @nya-head-height + 1;

  z-index: -1;

  &__title {
    color: @nya-head-arrow-text;

    display: inline-block;

    font-size: 20px;

    height: @nya-head-height;

    line-height: @nya-head-height - 1;

    overflow: hidden;

    padding: 0 20px 0 10px;

    position: relative;

    text-shadow: 1px 1px rgba(0,0,0,.1);

    z-index: 1;

    &:before {
      background-color: @nya-head-arrow-background;
      background-image: linear-gradient(-45deg, rgba(0, 0, 0, .2) 40%, rgba(255, 255, 255, .2) 60%);

      box-shadow: 1px -1px 0px rgba(0, 0, 0, .3);

      content: '';

      display: block;

      height: @_nya-head-arrow;

      position: absolute;

      right: (@_nya-head-arrow * sqrt(2) - @_nya-head-arrow) / 2 - @_nya-head-arrow * sqrt(2) / 4 + 1;

      top: @nya-head-height / 2 - @_nya-head-arrow / 2;

      transform: scaleX(.5) rotate(45deg);

      width: @_nya-head-arrow;

      z-index: -1;
    }
  }

  &__avatar {
    background: @gray-lighter no-repeat;

    background-size: cover;

    display: block;

    float: right;

    height: @nya-head-height;

    width: @nya-head-height;
  }
}
