.nya-suggested-input {
  position: relative;
}
.nya-suggested-input__suggest {
  margin-top: -1px;
  position: absolute;
  z-index: 1000;
}
.nya-suggested-input__suggest .current,
.nya-suggested-input__suggest .current:hover {
  background: #ffeba0;
}
.nya-suggested-input__suggest div {
  cursor: pointer;
  padding: 5px 14px;
}
.nya-suggested-input__suggest div:hover {
  background: #eeeeee;
}
