@import '../nya'
@import '_skin-dark'

$skin-islands-button-content = '.nya-button__title'
$skin-islands-button-disabled = '[disabled]'


.nya-button
  kind: button
  position: relative
  text-align: center


.nya-button_normal_m
  skin: button


.nya-button_normal_s
  skin: button small


.nya-button_action_m
  skin: action-button


.nya-button_action_s
  skin: action-button small


.nya-button_pseudo_m
  skin: pseudo-button


.nya-button_pseudo_s
  skin: pseudo-button small


.nya-button_pseudo_m:active,
.nya-button_pseudo_s:active
  skin: button_pressed


.nya-button_dark_m
  skin: dark-button


.nya-button_dark_s
  skin: dark-button small


.nya-button[disabled],
.nya-button_disabled
  kind: disabled 0.6
