@import "_bootstrap/variables.less";
@import "_bootstrap/mixins.less";
@import "common.less";


@input-border-focus:            #ffcc00;

@checkable-flag-color:          #000;
@checkable-checked-background:  #ffeba0;
@checkable-checked-border:      #c3b26e;

@input-reset-color:             @gray-dark;

@nya-head-background:           #f6f5f3;
@nya-head-border:               #ddd;
@nya-head-arrow-background:     #6eb541;
@nya-head-arrow-text:           #fff;

@btn-action-color:              #333;
@btn-action-bg:                 #ffdb4d;
@btn-action-border:             rgba(191,153,0,.5);
