.nya-head {
  background: #3a3f44;
  border-bottom: 1px solid #232528;
  height: 51px;
  padding-right: 50px;
  position: relative;
}
.nya-head__title {
  color: #c8c8c8;
  display: inline-block;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  margin-left: -15px;
  padding: 0 30px 0 35px;
  position: relative;
  vertical-align: middle;
  z-index: 10;
}
.nya-head__title_arrow {
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 49px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
.nya-head__title_arrow:first-child {
  margin-left: 0;
  padding-left: 20px;
}
.nya-head__title_arrow .nya-head__title-arrow {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.nya-head__title_arrow .nya-head__title-arrow:before {
  background-color: #6ba200;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 40%, rgba(255, 255, 255, 0.2) 60%);
  box-shadow: 1px -1px 0px rgba(0, 0, 0, 0.1);
  content: '';
  display: block;
  height: 500px;
  position: absolute;
  right: -72.2233047px;
  top: -225px;
  -webkit-transform: scaleX(0.5) rotate(45deg);
      -ms-transform: scaleX(0.5) rotate(45deg);
          transform: scaleX(0.5) rotate(45deg);
  width: 500px;
  z-index: -1;
}
.nya-head__title_arrow:nth-child(2) {
  z-index: 9;
}
.nya-head__title_arrow:nth-child(2) .nya-head__title-arrow:before {
  background-color: #2a9fd6;
}
.nya-head__title_arrow:nth-child(3) {
  z-index: 8;
}
.nya-head__title_arrow:nth-child(3) .nya-head__title-arrow:before {
  background-color: #cd6c00;
}
.nya-head__title_arrow:nth-child(4) {
  z-index: 7;
}
.nya-head__title_arrow:nth-child(4) .nya-head__title-arrow:before {
  background-color: #cc0000;
}
.nya-head__title_arrow:nth-child(5) {
  z-index: 6;
}
.nya-head__title_arrow:nth-child(5) .nya-head__title-arrow:before {
  background-color: #fbc802;
}
.nya-head__title_arrow:nth-child(6) {
  z-index: 5;
}
.nya-head__title_arrow:nth-child(6) .nya-head__title-arrow:before {
  background-color: #9933cc;
}
.nya-head__title_arrow:nth-child(7) {
  z-index: 4;
}
.nya-head__title_arrow:nth-child(7) .nya-head__title-arrow:before {
  background-color: #2a9fd6;
}
.nya-head__title_arrow:nth-child(8) {
  z-index: 3;
}
.nya-head__title_arrow:nth-child(8) .nya-head__title-arrow:before {
  background-color: #cd6c00;
}
.nya-head__title:hover,
.nya-head__title:focus {
  text-decoration: none;
}
.nya-head__title_arrow:hover,
.nya-head__title_arrow:focus {
  color: #ffffff;
}
.nya-head__avatar {
  background: #999999 no-repeat;
  background-size: cover;
  display: block;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}
.nya-head .nya-nav {
  font-weight: 500;
  height: 50px;
  line-height: 44px;
  padding: 0 20px;
}
.nya-head .nya-nav__item {
  padding-right: 30px;
}
.nya-head .nya-nav__link {
  color: #c8c8c8;
}
.nya-head__title-dropdown-caret {
  margin-left: 8px;
}
.nya-head__title-dropdown {
  background: #272b30;
  border: 1px solid #232528;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  color: #c8c8c8;
  cursor: default;
  display: none;
  font-size: 16px;
  left: 15px;
  line-height: 20px;
  position: absolute;
  text-shadow: none;
  top: 48px;
}
.nya-head__title_open .nya-head__title-dropdown {
  display: block;
}
.nya-head__title_open .nya-head__title-dropdown-caret:after {
  top: -5px;
  -webkit-transform: rotate(225deg) scale(0.6);
      -ms-transform: rotate(225deg) scale(0.6);
          transform: rotate(225deg) scale(0.6);
}
